* {
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
}

header .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

header .nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  -webkit-filter: invert(100);
  filter: invert(100);
}

header .nav .nav-link {
  display: block;
  height: 12vh;
  padding-top: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: #fff 2px solid transparent;
  text-shadow: 4px 4px 0px #00a799;
}

header .nav .nav-link:hover {
  text-shadow: 4px 4px 0px #00a799;
  border-bottom: #00a799 4px solid;
}

header .nav .nav-link:active {
  border-bottom: #00a799 4px solid;
}

header .nav a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section1 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.1))), url("../assets/pexels-chevanon-photography-325044.jpg");
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), url("../assets/pexels-chevanon-photography-325044.jpg");
  background-attachment: fixed;
  background-position: 50% 46%;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 h1 {
  font-size: 70px;
}

.section1 h3 {
  font-size: 55px;
}

.section1 .s1 {
  color: #00a799;
  text-shadow: 4px 4px 0px #fff;
  cursor: pointer;
}

.section1 .s1:hover {
  color: #fff;
  text-shadow: 4px 4px 0px #00a799;
  cursor: pointer;
}

.section1 .s2 {
  color: #fff;
  text-shadow: 4px 4px 0px #00a799;
  cursor: pointer;
}

.section1 .s2:hover {
  color: #00a799;
  text-shadow: 4px 4px 0px #fff;
  cursor: pointer;
}

.section2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
  width: 100%;
}

.section2 .carousel .carousel-inner {
  width: 100%;
  height: 100vh;
}

.section2 .carousel .carousel-inner img {
  height: 100vh;
  width: 100%;
}

.section2 .carousel .carousel-inner h1 {
  font-size: 70px;
  color: #fff;
  text-shadow: 4px 4px 0px #00a799;
  cursor: pointer;
}

.section2 .carousel .carousel-inner h1:hover {
  color: #00a799;
  text-shadow: 4px 4px 0px #fff;
  cursor: pointer;
  cursor: pointer;
}

.section2 .carousel .carousel-inner p {
  font-size: 30px;
  color: #fff;
  text-shadow: 4px 4px 0px #00a799;
  cursor: pointer;
}

.section2 .carousel .carousel-inner p:hover {
  color: #00a799;
  text-shadow: 4px 4px 0px #fff;
  cursor: pointer;
  cursor: pointer;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Hide scrollbar for IE, Edge and Firefox */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 1.5%;
  padding-left: 1rem;
  position: fixed;
}

.footer .social a {
  text-decoration: none;
  padding: 8px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer .social a:hover {
  color: #00a799;
}

.footer .copyright {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer .copyright:hover {
  color: #00a799;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */